version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: twitter_clone
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
